$colors--white: #ffffff;
$colors--black: #000000;
$colors--primary: #0079fe;

$colors: (
  dark: (
    bg: $colors--black,
    primary: $colors--primary,
    secondary: rgba($colors--white, 0.5),
    tertiary: rgba($colors--white, 0.25),
    quarternary: rgba($colors--white, 0.125),
  ),
  light: (
    bg: $colors--white,
    primary: $colors--primary,
    secondary: rgba($colors--black, 0.5),
    tertiary: rgba($colors--black, 0.25),
    quarternary: rgba($colors--black, 0.125),
  ),
);
