.fixed-bg {
  $blurAmount: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* Add the blur effect */
  filter: blur($blurAmount);
  -webkit-filter: blur($blurAmount);
  transform: scale(1.1);
}
