.header {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 2;

  &-nav {
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;

    .hamburger {
      position: relative;
      width: 2.3rem;

      > * {
        display: block;
        border-top: 2.5px solid $colors--white;
        border-radius: 20%;

        + * {
          margin-top: 0.45rem;
        }

        &:nth-child(2) {
          width: 50%;
        }
      }
    }

    &-title-section {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      .header-title {
        font-size: 2.4rem;
        letter-spacing: 2.4rem * 0.025;
      }
    }
  }

  + main {
    padding-top: 3rem + 3rem + 3rem;
  }
}
